*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// Colors
$color-bg: #e2e0e6;
$color-text-bg-dark: #fafcfc;
$color-text-bg-light: #040408;
$color-primary-darker: #02010d;
$color-primary: #040112;
$color-accent-primary: rgb(238, 195, 54);
$color-accent-secondary: rgb(112, 53, 172);

html,
body {
    overflow-x: hidden;
}

.wrapper {
    background-color: $color-bg;
    font-size: 1rem;
    width: 100vw;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 88%;
    margin: 0 8%;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $color-primary;
    width: 100%;
    height: 100vh;
    color: $color-text-bg-dark;
    font-family: "Source Code Pro", Arial, Helvetica, sans-serif;
}

.navbar-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    background: $color-primary-darker;
    box-shadow: 0px 2px 20px rgba(100, 100, 100, 0.1);
    width: 100%;
    z-index: 9999;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-self: center;
    align-items: center;
    padding: 8px 32px;

    .navbar__brand {
        display: grid;
        grid-template-columns: 50px 1fr;
        place-content: center center;
        place-items: center center;
        gap: 2vw;

        .brand__logo {
            width: 48px;
            height: 48px;
            border: solid 1px white;
            border-radius: 24px;
        }

        .brand__name {
            text-transform: uppercase;
            font-size: 3vw;
            font-weight: 300;
            font-family: "KoHo", monospace !important;
        }
    }

    .navbar__menu {
        display: flex;
        gap: 0.8vw;
        padding: 16px 8px;
        list-style: none;
        align-items: baseline;
        font-size: 2vw;

        .nav__link {
            a {
                text-decoration: none;
                color: $color-text-bg-dark;
                padding: 4px 12px;
                border-radius: 4px;
                font-style: "Code";

                &:hover {
                    background: $color-accent-primary;
                    color: $color-text-bg-light;
                }
            }
        }

        .link-active {
            color: $color-accent-primary;
            font-weight: 680;
        }
    }
}

.hero {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 0 auto;
    padding: 16px 8px;
    font-family: "Roboto", sans-serif;
    font-size: 1.6vw;

    &__heading {
        font-size: 4em;
        text-transform: uppercase;
        align-self: center;
        color: $color-accent-primary;
    }

    &__subheading {
        font-size: 1.8em;
        color: rgb(149, 149, 149);
        align-self: baseline;
    }

    &__description {
        font-family: monospace;
        font-style: italic;
    }
}

@mixin section($color-b, $color-f) {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    align-items: center;
    align-content: center;
    font-family: "Roboto", sans-serif;
    background: $color-b;
    color: $color-f;
    font-size: 2rem;
}

@mixin card-flat-flex($dir) {
    display: flex;
    flex-direction: $dir;
    width: 80vw;
    padding: 18vh 2vw;
    margin: 0 auto;
}

@mixin heading-gradient($webkit-lg) {
    background: $webkit-lg;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin button-gradient($gradient) {
    background-image: $gradient;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: $color-text-bg-dark;
    box-shadow: 2px 2px 8px #222222ee;
    display: block;

    @media only screen and (min-width: 768px) {
        &:hover {
            background-position: right center;
            text-decoration: none;
            transform: scale(1.08) translate(-4%, -4%);
        }
    }
}

@mixin link($color, $color-hover) {
    color: $color;
    font-style: italic;
    font-weight: 700;
    text-decoration: none;
    padding: 0 4px;
    transition: 0.5s ease-in;

    @media only screen and (min-width: 768px) {
        &:hover {
            text-decoration: none;
            background-color: $color-hover;
            color: lighten(invert($color), 25);
            transform: scale(1.1);
        }
    }
}

.about {
    @include section($color-bg, $color-text-bg-light);
    min-height: 100vh;

    &__card {
        @include card-flat-flex(row);
        height: fit-content;
        font-size: 36px;

        .card__image {
            flex: 3;
            outline-offset: 8px;
            outline: $color-primary-darker groove 4px;

            img {
                width: 100%;
                height: 100%;
                border: groove $color-primary-darker 4px;
                transform: scale(0.96);

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        .card__content {
            @include card-flat-flex(column);
            flex: 5;
            gap: 2vw;
            font-size: 1em;
            padding: 0.25em 1em;
            padding-left: 1.5em;
            justify-content: space-around;

            .content__heading {
                font-size: 2.6em;
                font-weight: 700;
                font-family: "Roboto", sans-serif;
                @include heading-gradient(
                    -webkit-linear-gradient($color-primary-darker, darken($color-accent-secondary, 20))
                );
            }

            .content__description {
                font-size: 0.6em;
                font-weight: 500;
                font-family: "KoHo", monospace;

                a {
                    @include link(rgb(9, 67, 134), $color-accent-secondary);
                }

                .course {
                    font-weight: 600;
                }

                .branch {
                    color: darken($color-accent-secondary, 25);
                    font-style: italic;
                    font-weight: 700;
                }

                .git {
                    color: orangered;
                    font-weight: 600;
                }

                .github {
                    @include link($color-text-bg-light, $color-primary-darker);
                }
            }

            .content__buttons {
                display: flex;
                width: fit-content;
                font-size: 0.72em;
                gap: 20px;

                .btn {
                    padding: 12px 24px;
                    border-radius: 4px;

                    &--gradient-purple {
                        @include button-gradient(linear-gradient(to right, #4776e6 0%, #8e54e9 51%, #4776e6 100%));
                    }

                    &--gradient-pink {
                        @include button-gradient(linear-gradient(to right, #ff512f 0%, #dd2476 51%, #ff512f 100%));
                    }
                }
            }
        }
    }
}

.skills {
    @include section($color-primary, $color-text-bg-dark);

    &__card {
        @include card-flat-flex(column);
        gap: 12vh;
        padding: 8vh 0;
        min-height: 100vh;
        justify-content: flex-start;

        &__heading {
            font-size: 2em;
            text-align: center;
            text-transform: uppercase;
            font-family: "Merriweather";
            font-weight: 900;

            @include heading-gradient(
                -webkit-linear-gradient(lighten(#00adef, 10), darken($color-accent-secondary, 10))
            );
        }

        &__grid {
            width: 100%;
            height: 80vh;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 2;
            justify-content: space-around;
            justify-items: center;

            .skill {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 2vh;
                align-content: center;
                align-items: center;
                height: fit-content;
                padding: 0.5em 1em;

                &__icon {
                    width: 120px;
                    height: 120px;
                }

                &__name {
                    text-align: center;
                    letter-spacing: 4px;
                    font-weight: 500;
                    font-family: "KoHo", monospace;
                }

                &:hover {
                    // background: linear-gradient(rgba(226, 224, 230, 0.6), rgba(236, 228, 240, 0.8));
                    color: lighten(#00adef, 10);
                    background: rgba(255, 255, 255, 0.25);
                    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
                    backdrop-filter: blur(4px);
                    -webkit-backdrop-filter: blur(4px);
                    border-radius: 6px;
                    border: 1px solid rgba(255, 255, 255, 0.18);
                    transform: translate(-3%, -6%);

                    &__icon {
                        transform: scale(1.5);
                    }
                    &__name {
                        transform: scale(1.6);
                        font-weight: 900;
                    }
                }
            }
        }

        @media only screen and (max-width: 768px) {
            &__grid {
                width: 100%;
                height: fit-content;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: 4;
                justify-content: space-around;
                justify-items: center;

                .skill {
                    pointer-events: none;
                }
            }
        }
    }
}

.portfolio {
    @include section($color-bg, $color-text-bg-light);
    
}

.footer {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 16px;
    background-color: $color-primary-darker;
    color: white;
    padding: 36px 8px;

    .social {
        display: flex;
        gap: 1vw;
        flex-wrap: wrap;
        justify-content: center;
        justify-items: center;
    }

    a {
        text-decoration: none;
        color: $color-accent-secondary;
    }
}

@media only screen and (max-width: 768px) {
    .header {
        gap: 8vh;
        height: 90vh;
    }

    .navbar-wrapper {
        display: grid;
        place-items: center center;
    }

    .navbar {
        margin: 0;
        padding: 8px 8px;
        width: 98%;
        justify-content: center;

        .navbar__brand {
            gap: 20px;

            .brand__logo {
                width: 36px;
                height: 36px;
                border-radius: 18px;
                padding-right: 0 !important;
            }

            .brand__name {
                font-size: 8vw;
                letter-spacing: 4px;
                font-family: monospace;
            }
        }

        .navbar__menu {
            padding: 16px 8px;
            font-size: 0.68rem;
            width: 100%;
            justify-content: space-between;

            .nav__link a {
                text-decoration: none;
                color: $color-text-bg-dark;
                padding: 2px 8px !important;
                border-radius: 2px;
                font-style: "Code";
                background: rgb(25, 28, 44);
            }
        }
    }

    .hero {
        font-size: 1.4em;

        &__heading {
            font-size: 3.2em;
        }
        &__subheading {
            font-size: 1.2em;
        }
    }

    .about {
        width: 100vw;
        height: fit-content;
        padding: 4vh 8vw;

        &__card {
            flex-direction: column;
            gap: 16px;
            width: 100%;
            font-size: 18px;
            padding: 0 !important;

            .card__image {
                flex: 1 1 100%;
                img {
                    width: 100%;
                    border-radius: 4px;
                }
            }
            .card__content {
                flex: 1 1 100%;
                padding: 0 !important;
            }
        }
    }

    .footer .social {
        flex-direction: column;
        align-items: center;
        gap: 2vh;
    }
}
