*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

.wrapper {
  background-color: #12121a;
  font-size: 1rem;
  width: 100vw;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 88%;
  margin: 0 8%;
}

.header {
  display: flex;
  flex-direction: column;
  place-items: center center;
  place-content: center center;
  background: #040112;
  width: 100%;
  height: 100vh;
  color: #fafcfc;
  font-family: "Source Code Pro", Arial, Helvetica, sans-serif;
}
@media only screen and (max-width: 768px) {
  .header {
    justify-content: space-around;
    height: 80vh;
  }
}

.navbar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  background: #02010d;
  box-shadow: 0px 2px 20px rgba(100, 100, 100, 0.1);
  width: 100%;
  z-index: 9999;
}
@media only screen and (max-width: 800px) {
  .navbar-wrapper {
    display: grid;
    place-items: center center;
  }
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: center;
  align-items: center;
  padding: 8px 32px;
  font-size: 1.5rem;
}
.navbar .navbar__brand {
  display: grid;
  grid-template-columns: 50px 1fr;
  place-content: center center;
  place-items: center center;
  gap: 2vw;
}
.navbar .navbar__brand .brand__logo {
  width: 48px;
  height: 48px;
  border: solid 1px white;
  border-radius: 24px;
}
.navbar .navbar__brand .brand__name {
  text-transform: uppercase;
  font-size: 3vw;
  font-weight: 300;
  font-family: "KoHo", monospace !important;
}
.navbar .navbar__menu {
  display: flex;
  gap: 0.8vw;
  padding: 16px 8px;
  list-style: none;
  align-items: baseline;
  font-size: 1.6rem;
}
.navbar .navbar__menu .nav__link a {
  text-decoration: none;
  color: #fafcfc;
  padding: 4px 12px;
  border-radius: 4px;
  font-weight: 500;
  font-family: "KoHo", sans-serif;
  text-transform: uppercase;
  backface-visibility: hidden;
}
.navbar .navbar__menu .nav__link a:hover {
  background: #eec336;
  color: #02010d;
  font-weight: 700;
  font-family: "KoHo", sans-serif;
}
@media only screen and (max-width: 800px) {
  .navbar {
    margin: 0;
    padding: 8px 8px;
    width: 98%;
    justify-content: center;
  }
  .navbar .navbar__brand {
    justify-content: space-evenly;
  }
  .navbar .navbar__brand .brand__logo {
    width: 36px;
    height: 36px;
    border-radius: 18px;
    padding: 0 0;
  }
  .navbar .navbar__brand .brand__name {
    font-size: 8vw;
    letter-spacing: 4px;
    font-family: monospace;
  }
  .navbar .navbar__menu {
    padding: 16px 8px;
    font-size: 1rem;
    width: 100%;
    gap: 0.5rem;
    justify-content: space-evenly;
  }
  .navbar .navbar__menu .nav__link a {
    text-decoration: none;
    color: #fafcfc;
    padding: 0.2rem 0.8rem !important;
    border-radius: 4px;
    font-size: 0.88em;
    background: #191c2c;
  }
  .navbar .navbar__menu .nav__link a:hover {
    background-color: transparent;
    color: #fafcfc;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 1rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.6vw;
  width: fit-content;
}
.hero__heading {
  font-size: 4em;
  text-transform: uppercase;
  align-self: center;
  color: #eec336;
}
.hero__subheading {
  font-size: 1.8em;
  color: #959595;
  align-self: baseline;
}
.hero__description {
  font-family: monospace;
  font-style: italic;
}
@media only screen and (max-width: 800px) {
  .hero {
    font-size: 1.2em;
    height: fit-content;
    margin: auto 0;
    padding: 8vh 0;
    width: min-content;
    align-items: center;
    align-content: center;
  }
  .hero__heading {
    font-size: 3.2em;
  }
  .hero__subheading {
    font-size: 1.2em;
  }
}

.about {
  display: flex;
  width: 100vw;
  align-items: center;
  align-content: center;
  font-family: "Roboto", sans-serif;
  background: #12121a;
  color: #fafcfc;
  font-size: 2.2rem;
  min-height: 100vh;
}
.about__card {
  display: flex;
  flex-direction: row;
  width: 80vw;
  padding: 18vh 2vw;
  margin: 0 auto;
  font-size: 1em;
  height: fit-content;
}
.about__card .card__image {
  flex: 4;
}
.about__card .card__image img {
  width: 100%;
  height: 100%;
  background-color: #02010d;
  border-radius: 8px;
}
.about__card .card__image img:hover {
  transform: scale(1.1);
}
.about__card .card__content {
  display: flex;
  flex-direction: column;
  width: 80vw;
  padding: 18vh 2vw;
  margin: 0 auto;
  font-size: 1em;
  flex: 6;
  gap: 2vw;
  font-size: 1em;
  padding: 0.25em 1em;
  padding-left: 1.5em;
  justify-content: space-around;
}
.about__card .card__content .content__heading {
  font-size: 2.6em;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  background: -webkit-linear-gradient(#ff7b00, #7035ac);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  object-fit: cover;
  font-family: "Roboto", sans-serif;
}
.about__card .card__content .content__description {
  font-size: 0.6em;
  font-weight: 500;
  font-family: "KoHo", monospace;
}
.about__card .card__content .content__description a {
  display: inline-flexbox;
  color: #244f80;
  font-style: italic;
  font-weight: 700;
  text-decoration: none;
  padding: 0 4px;
  transition: 0.5s ease-in;
  background-color: #fafcfc;
}
@media only screen and (min-width: 768px) {
  .about__card .card__content .content__description a:hover {
    text-decoration: none;
    background-color: #7035ac;
    color: #f7ede3;
    transform: scale(1.1);
  }
}
.about__card .card__content .content__description .course {
  font-weight: 600;
}
.about__card .card__content .content__description .branch {
  font-style: italic;
  font-weight: 700;
}
.about__card .card__content .content__description .git {
  color: orangered;
  font-weight: 600;
}
.about__card .card__content .content__description .github {
  display: inline-flexbox;
  color: #040112;
  font-style: italic;
  font-weight: 700;
  text-decoration: none;
  padding: 0 4px;
  transition: 0.5s ease-in;
}
@media only screen and (min-width: 768px) {
  .about__card .card__content .content__description .github:hover {
    text-decoration: none;
    background-color: #02010d;
    color: white;
    transform: scale(1.1);
  }
}
.about__card .card__content .content__buttons {
  display: flex;
  width: fit-content;
  font-size: 0.72em;
  gap: 20px;
}
.about__card .card__content .content__buttons .btn {
  padding: 12px 24px;
  border-radius: 4px;
}
.about__card .card__content .content__buttons .btn--gradient-purple {
  background-image: linear-gradient(to right, #4776e6 0%, #8e54e9 51%, #4776e6 100%);
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: #fafcfc;
  box-shadow: 2px 2px 8px #222222ee;
  display: block;
}
@media only screen and (min-width: 768px) {
  .about__card .card__content .content__buttons .btn--gradient-purple:hover {
    background-position: right center;
    text-decoration: none;
    transform: scale(1.08) translate(-4%, -4%);
  }
}
.about__card .card__content .content__buttons .btn--gradient-pink {
  background-image: linear-gradient(to right, #ff512f 0%, #dd2476 51%, #ff512f 100%);
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: #fafcfc;
  box-shadow: 2px 2px 8px #222222ee;
  display: block;
}
@media only screen and (min-width: 768px) {
  .about__card .card__content .content__buttons .btn--gradient-pink:hover {
    background-position: right center;
    text-decoration: none;
    transform: scale(1.08) translate(-4%, -4%);
  }
}
@media only screen and (max-width: 800px) {
  .about {
    width: 100vw;
    min-height: fit-content;
    height: fit-content;
    padding: 8vh 8vw;
  }
  .about__card {
    flex-direction: column;
    gap: 16px;
    width: 100%;
    font-size: 18px;
    padding: 0 !important;
  }
  .about__card .card__image {
    flex: 1 1 100%;
    padding: 1rem 0.5rem;
  }
  .about__card .card__image img {
    width: 100%;
    border-radius: 1rem;
    border: 2px groove white;
    transform: scale(1);
    background-color: #02010d;
  }
  .about__card .card__content {
    flex: 1 1 100%;
    padding: 0 !important;
    text-align: justify;
  }
  .about__card .card__content .content__buttons {
    padding: 1rem 0;
  }
  .about__card .card__content .content__buttons .btn {
    padding: 0.4rem 0.8rem;
    border-radius: 4px;
  }
}

.skills {
  display: flex;
  width: 100vw;
  align-items: center;
  align-content: center;
  font-family: "Roboto", sans-serif;
  background: #040112;
  color: #fafcfc;
  font-size: 2.2rem;
}
.skills__card {
  display: flex;
  flex-direction: column;
  width: 80vw;
  padding: 18vh 2vw;
  margin: 0 auto;
  font-size: 1em;
  gap: 8vh;
  padding: 8vh 0;
  min-height: 100vh;
  justify-content: flex-start;
}
.skills__card__heading {
  font-size: 2em;
  text-align: center;
  font-weight: 900;
  background: -webkit-linear-gradient(#23c2ff, #572985);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  object-fit: cover;
  font-family: "Roboto", sans-serif;
}
.skills__card__grid {
  width: 100%;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 2;
  justify-content: space-around;
  justify-items: center;
}
.skills__card__grid .skill {
  width: 92%;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  align-content: center;
  align-items: center;
  height: fit-content;
  padding: 0.5em 1em;
  text-decoration: none;
  color: inherit;
  font-size: 0.8em;
  transform: scale(0.8);
}
.skills__card__grid .skill__icon {
  width: 120px;
  height: 120px;
}
.skills__card__grid .skill__name {
  text-align: center;
  letter-spacing: 4px;
  font-weight: 500;
  font-family: "Source Code Pro", monospace;
}
.skills__card__grid .skill:hover {
  color: #23c2ff;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transform: translate(-3%, -6%);
}
.skills__card__grid .skill:hover__icon {
  transform: scale(1.2);
}
.skills__card__grid .skill:hover__name {
  transform: scale(1.6);
}
@media only screen and (max-width: 768px) {
  .skills__card {
    gap: 4vh;
  }
  .skills__card__heading {
    font-size: 1.25em;
  }
  .skills__card__grid {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 4;
    justify-content: space-around;
    justify-items: center;
  }
  .skills__card__grid .skill {
    width: 100%;
  }
  .skills__card__grid .skill:hover {
    all: unset !important;
  }
  .skills__card__grid .skill:hover > * {
    transform: none;
  }
}

.portfolio {
  display: flex;
  width: 100vw;
  align-items: center;
  align-content: center;
  font-family: "Roboto", sans-serif;
  background: #12121a;
  color: #fafcfc;
  font-size: 2.2rem;
}
.portfolio__card {
  display: flex;
  flex-direction: column;
  width: 80vw;
  padding: 18vh 2vw;
  margin: 0 auto;
  font-size: 1em;
  align-content: flex-start;
  gap: 8vh;
  width: 100%;
  padding: 4vh 6vw;
}
@media only screen and (max-width: 768px) {
  .portfolio__card {
    gap: 6vh;
    padding: 6vh 6vw;
  }
}
.portfolio__card__heading {
  align-self: center;
  width: fit-content;
  font-size: 2.6em;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  text-align: center;
  background: linear-gradient(#dc4883, #006aff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  object-fit: cover;
  font-family: "Roboto", sans-serif;
}
@media only screen and (max-width: 768px) {
  .portfolio__card__heading {
    font-size: 1.6em !important;
  }
}
.portfolio__card__grid {
  height: fit-content;
  font-size: 1em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 4;
  place-content: center center;
  gap: 2.2rem;
  row-gap: 2.2rem;
  transition: 1s ease-in-out;
}
.portfolio__card__grid .project {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 12rem;
  grid-template-rows: 3;
  place-items: center center;
  place-content: center center;
  border: 0.5rem solid #040112;
  border-radius: 0.8rem 0.8rem;
  padding: 0.5rem 0.5rem;
  background: #02010d;
}
.portfolio__card__grid .project__image {
  grid-column: 3/4;
  grid-row: 1/3;
  display: inline-block;
  width: 12rem;
  height: 10rem;
  padding: 10px 8px;
  transform: translateX(10%);
}
.portfolio__card__grid .project .webflix {
  transform: scale(0.72) translateX(10%);
}
.portfolio__card__grid .project .autopilot {
  transform: scale(0.8) translateX(12%);
}
.portfolio__card__grid .project .key-insight {
  width: 10.8rem;
  height: 8.8rem;
  transform: scale(0.92) translateX(10%);
}
.portfolio__card__grid .project .arachnet,
.portfolio__card__grid .project .interweb {
  width: 10rem;
  height: 10rem;
  transform: scale(0.85) translateX(15%);
}
.portfolio__card__grid .project .details {
  grid-column: 1/3;
  grid-row: 1/3;
  grid-area: "details";
  font-size: 1rem;
  padding: 1em 0.5em;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.portfolio__card__grid .project .details .title {
  font-size: 2em;
  font-weight: 700;
  font-family: "KoHo", monospace;
}
.portfolio__card__grid .project .details .description {
  font-size: 0.88em;
  font-weight: 500;
  font-family: "Source Code Pro", sans-serif;
}
.portfolio__card__grid .project .options-list {
  grid-column: 1/-1;
  grid-row: 3/4;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 1rem;
  grid-area: "options";
  padding: 0 0.5em;
  padding-bottom: 0.5em;
}
.portfolio__card__grid .project .options-list .languages {
  list-style: none;
  display: flex;
  gap: 0.4em;
  width: fit-content;
  font-size: 0.8em;
}
.portfolio__card__grid .project .options-list .languages li {
  background: #3c3c56;
  padding: 0.1em 0.4em;
  border-radius: 2px;
}
.portfolio__card__grid .project .options-list .button-group {
  display: flex;
  gap: 0.6em;
  width: fit-content;
  font-size: 0.8em;
}
.portfolio__card__grid .project .options-list .button-group .btn {
  padding: 0.25rem 0.5rem;
  border-radius: 0.2rem;
  text-decoration: none;
}
.portfolio__card__grid .project .options-list .button-group .btn--gradient-purple {
  background-image: linear-gradient(to right, #4776e6 0%, #8e54e9 51%, #4776e6 100%);
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: #fafcfc;
  box-shadow: 2px 2px 8px #222222ee;
  display: block;
}
@media only screen and (min-width: 768px) {
  .portfolio__card__grid .project .options-list .button-group .btn--gradient-purple:hover {
    background-position: right center;
    text-decoration: none;
    transform: scale(1.08) translate(-4%, -4%);
  }
}
.portfolio__card__grid .project .options-list .button-group .btn--gradient-pink {
  background-image: linear-gradient(to right, #ff512f 0%, #dd2476 51%, #ff512f 100%);
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: #fafcfc;
  box-shadow: 2px 2px 8px #222222ee;
  display: block;
}
@media only screen and (min-width: 768px) {
  .portfolio__card__grid .project .options-list .button-group .btn--gradient-pink:hover {
    background-position: right center;
    text-decoration: none;
    transform: scale(1.08) translate(-4%, -4%);
  }
}
.portfolio__card__grid .project:hover {
  transform: translateY(-4%);
  box-shadow: 0.32rem 0.36rem 0.5rem black;
}
@media only screen and (max-width: 1080px) {
  .portfolio__card__grid {
    grid-template-columns: 1fr;
    grid-template-rows: 8;
    row-gap: 1rem;
  }
  .portfolio__card__grid .project {
    grid-template-columns: repeat(2, 1fr) 6.8rem;
    border: 0.1rem solid #040112;
    border-radius: 0.68rem 0.68rem;
    padding: 0.5rem 0.5rem;
    box-shadow: 0.32rem 0.36rem 0.5rem #0a0510;
  }
  .portfolio__card__grid .project__image {
    width: 6.8rem;
    height: 6rem;
    transform: translateX(1%);
  }
  .portfolio__card__grid .project .webflix {
    transform: scale(0.72) translateX(4%);
  }
  .portfolio__card__grid .project .autopilot {
    transform: scale(0.88) translateX(1%);
  }
  .portfolio__card__grid .project .key-insight {
    width: 6.8rem;
    height: 6rem;
    transform: scaleY(0.88) translateX(2%);
  }
  .portfolio__card__grid .project .arachnet,
.portfolio__card__grid .project .interweb {
    width: 6rem;
    height: 6rem;
    transform: scale(0.88) translateX(4%);
  }
  .portfolio__card__grid .project .details {
    font-size: 0.92rem;
    padding: 0 0.25em;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .portfolio__card__grid .project .details .title {
    font-size: 1.6em;
  }
  .portfolio__card__grid .project .details .description {
    font-size: 0.68em;
  }
  .portfolio__card__grid .project .options-list {
    font-size: 1rem;
    padding: 0.25em 0.25em;
    padding-bottom: 0.5em;
  }
  .portfolio__card__grid .project .options-list .languages {
    gap: 0.2em;
    font-size: 0.6em;
  }
  .portfolio__card__grid .project .options-list .languages li {
    background: #464665;
    padding: 0.1em 0.2em;
    border-radius: 0.2rem;
  }
  .portfolio__card__grid .project .options-list .button-group .btn {
    padding: 0.15rem 0.2rem;
    border-radius: 0.2rem;
    font-size: 0.8em;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 16px;
  background-color: #02010d;
  color: white;
  padding: 36px 8px;
}
.footer .social {
  display: flex;
  gap: 4vw;
  justify-content: center;
  justify-items: center;
}
.footer a {
  text-decoration: none;
  display: flex;
  align-items: center;
  align-content: center;
}
.footer a i {
  background-color: whitesmoke;
  width: fit-content;
  padding: 0.06rem 0.2rem;
  border-radius: 0.32rem;
}

/*# sourceMappingURL=main.css.map */
